/*
https://react-bootstrap.netlify.com/components/cards/#cards
https://getbootstrap.com/docs/4.1/components/modal/
https://www.materialpalette.com/colors
*/

video {
  width: 100%    !important;
  height: auto   !important;
}

.error-background {
  background-image: url("404background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  align-items: stretch;
  min-height: 94vh;
}

.padding-10-percent {
  padding-top: 30vh;
}

.main-content {
  background: #ebeef1;
  min-height: 100vh;
}

.min-h-100 {
  min-height: 100%;
}

.file-upload {
  background: #ffffff !important;
  border: 2px #9d9d9d dashed;
}

.cursor-pointer {
  cursor: pointer;
}

.border-danger-on-hover:hover {
  border: 2px #ec4a38 solid;
  opacity: 0.8;
}

.graph-wrapper {
  max-width: 800px;
}

.max-img-height {
  max-height: 80vh;
}

.protruding-on-svg {
  position: absolute;
  overflow: hidden;
  top: 34px;
  left: 34px;
}

.upload-preview {
  max-height: 80px;
}

.on-top-file {
  position: absolute;
  text-align: center;
  top: 30px;
  width: 100%;
}