/*
https://react-bootstrap.netlify.com/components/cards/#cards
https://getbootstrap.com/docs/4.1/components/modal/
https://www.materialpalette.com/colors
*/

video {
  width: 100%    !important;
  height: auto   !important;
}

.error-background {
  background-image: url("404background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 94vh;
}

.padding-10-percent {
  padding-top: 30vh;
}

.main-content {
  background: #e7eaed;
  height: 100vh;
}

.file-upload {
  background: #ffffff !important;
  border: 2px #9d9d9d dashed;
}

.cursor-pointer {
  cursor: pointer;
}

.border-danger-on-hover:hover {
  border: 2px #ec4a38 solid;
  opacity: 0.8;
}
